.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;

}

.exercise-gif{
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    object-position: center;
    border: 3px solid red;
    border-radius: 50%;
    overflow: hidden;

}

#main-content{
    display: flex;
    flex-direction: column;
}
.exercise {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    padding: 2vw
}

.checkbox-main-div{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.image-and-name{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}

.button-div{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

label{
    font-family: Arial, Helvetica, sans-serif;
}

