body {
    display: flex;
    justify-content: center;
}

#out-circle, .in-circle {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#out-circle {
    width: 300px;
    height: 300px;
    background: conic-gradient(
        rgb(255,0,0),
        rgb(255,255,0),
        rgb(0,255,0),
        rgb(0,255,255),
        rgb(0,0,255),
        rgb(255,0,255),
        rgb(255,0,0)
        );
        
    box-shadow: 1px 1px 8px,inset 1px 1px 8px;
}

.in-circle {
    width: 225px;
    height: 225px;
    position: relative;
    background-color: #fff;
    box-shadow: 1px 1px 8px,inset 1px 1px 8px;
}

.c-box {
    width: 100px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 1px 1px 8px,inset 1px 1px 8px;
}

.triadic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.boxes {
    display: flex;
    gap: 20px;
   
}

#in-triangle {
    position: absolute;
    background:conic-gradient(
        black,
        white,
        black,
        white,
        black,
        white,
        black,
        white,
        black,
        white,
        black
        );
    border-radius: 50%;
    height: 75px;
    width: 75px;
    box-shadow:inset 1px 1px 8px black;
    filter: drop-shadow(1px 1px 10px);
}

img{
    width: 255px;
}

#box-1 {
    background-color: red;
}

#box-2 {
    background-color: hsl(0, 100%, 50%);
}

#box-3 {
    background-color: hsl(268, 100%, 52%);
}

#color-wheel{
    display: flex;
    flex-direction: row;
    
}

input{
    transform:rotate(-90deg);
}









