body{
    color: white;
    background-color: black;
}

button{
    width: 50px;
    height:50px
}
#title{
    display: block; 
    text-align: center;
    color: red;
    margin-bottom: 0px;
}

.scores{
    display: flex;
    justify-content: space-between;
}

#timer{
    font-size: 60px;
    color: yellow;

}
/*team names==============================================================================*/
#t1,#t2{
    width: 333px;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    margin-top: 0px;
}
#t1{
    background-color:lightblue ;
}
#t2{
    background-color:lightsalmon ;
}

/*Scores========================================================================================*/
#s_div1,#s_div2{
    justify-content: space-evenly;
    font-size: 70px;
    font-family: 'Orbitron', sans-serif;
    color: black;
    margin: 20px;
    margin-top: 0px;
    
}
#s1,#s2{
    padding: 50px;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
}
#s1{
    background-color: lightblue;

}
#s2{
    background-color: lightsalmon;
}

.timing{
    display: grid;
    grid-template-columns: auto;
    gap:auto;
    align-items:last baseline;
    justify-items: center;
    margin: 20px;
}

.inns{
    height: 50px;
    width: 60px;
    background-color: #f0f8ff;
    margin-top: 0px;
}
.inns_t{
    color: rgb(0, 255, 234);
    font-size: 10px;
    padding-bottom: 0px;
}
#t1_in,#t2_in{
    margin:10px ;
    display: grid;
    grid-template-columns: auto;
    gap:10px;
    align-items:last baseline;
    justify-items: center;
}

#operate{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

table{
    border: 2px solid grey;
    text-align: center;
    border-collapse: collapse;
}


#s_btn{
    display: grid;
    grid-template-columns: auto;
}

.btm_div{
    width:calc(100%/5);
    display: grid;
    grid-template-rows: auto;
    gap: 5px;
    justify-content: center;
}
#time_input{
    display:flex;
    justify-content: center;
}
#time_label,#time_set{
    display: grid;
    grid-template-rows: auto;
}

#time_set input{
    height: 25px;
    width: 70px;
    font-size: large ;
    background-color: rgb(44, 44, 44);
    border: none;
    color: yellow;
} 