body{
    margin: 0%;
}
.header{
    display: flex;
    flex-direction: row;
    height: 60px;
    border-bottom: 1px solid gray;
    align-items: center;
    padding: 1%;
    max-width: 100%;
}

.header-font{
    font-size: 2em;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.3;
    text-shadow: 2px 2px 3px black;
    color: white;
    
}

.nav-font{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 1.3;
    color: rgb(50, 50, 50);
    padding: 1vw;
}

.nav-font:hover {
    color: red !important;
    cursor: pointer;
    border-bottom: 5px solid red;
    background-color: rgb(180, 180, 180);
}

.nav-font.active{
    color: blue ;
    border-bottom: 5px solid blue;
    background-color: rgb(180, 180, 180);
}

.nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    border-bottom: 1px solid gray;
}



