/* For larger scrren*/
@media(min-width: 550px){
    body{
        padding:5% 25% 0 25%;

    }
}

/* For smaller scrren*/
@media(max-width: 550px){
    body{
        padding:5% 5% 0 5%;
    }
}

body{
    margin: 0;
    transition: padding 1s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#headerDiv{
    background-color: hsla(0, 0%, 0%, 0.1);
    border-radius: 8px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    font-weight: 900;
}

#mainTasksDiv{
    min-height: 300px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    /* background-color: hsla(0, 0%, 0%, 0.1); */

}
#completedDivClass{
    font-size: medium;
    padding: 2px;
    padding-left: 10px;
    height: 15px;
    background-color: hsla(0, 0%, 0%, 0.1);
    margin: 15px 0 5px 0;
    /* box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.4); */
    
    
    
}
#appName{
    font-size: 30px;
}




