#list_div{
    background-color: rgb(100, 100, 100);
    box-shadow: 0px 0px 30px rgb(0, 255, 170);
    width: 80%;
    height: inherit;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column  ;

    
}

#head_block{
    background-color: rgb(48, 48, 48) ;
    margin-left: 0%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
}

#icon{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 170, 113);
    font-size: 30px;
    text-align: center;
    font-family: monospace;
    font-weight: 900;
    border: 2px solid rgb(0, 255, 170);
    width: auto;
    height: 35px;
    text-align: center;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    box-shadow: 4px 4px 4px rgb(0, 255, 170);
}

body{
    margin: 0% ;
    background-color:  rgb(48, 48, 48);
}

#add_btn{
    position :fixed;
    z-index: 998;
    height:16vw;
    width: 16vw;
    max-width: 80px;
    max-height: 80px;
    border:none;
    border-radius: 50%;
    background-color:rgb(0, 255, 170);
    right:15%;
    bottom:5%;
    cursor: pointer;
    font-size: xx-large;
    box-shadow:4px 4px 4px black ;
    
}
#add_btn:active {
    background-color: black;
}

#task_adder_block{
    position :fixed;
    z-index: 1000;
    height:25em;
    width: 55%;
    max-width: 400px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    box-shadow: 0px 0px 30px rgb(0, 255, 170);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3%;
    gap: 10px;
    visibility: hidden;
    background-color:rgb(48, 48, 48) ;
    
}

#blur_window{
    position :fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
    visibility: hidden;
}

.input_labels{
    color: rgb(0, 255, 170);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);

}

.inputs{
    position: relative;
    background-color:rgb(100, 100, 100);
    border: 1px solid  none;
    border-radius:30px;
    box-shadow: 1px 1px 1px rgb(0, 255, 170);
    text-align: center;
    height: 25px;
    color: rgb(255, 255, 255);
}
#task_input{
    width: 80%;
    height: 18%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.inputs:active {
    box-shadow: 2px 4px 5px rgb(0, 255, 170);
}

#task_input::placeholder{
    color: white;
}
#li_id{
    height: auto;
    width: 90%;
    position: relative;   
    display: flex;
    gap: 40%;
    left:1ex ;
}

#date_div{
    position: relative;   
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: auto;
}



