:root{
    --background-color: hsl(315, 100%, 75%);
}

#addBtn, #okBtn{
    background-color: var(--background-color);
    padding: 8px 20px;
}

.editBtnClass, .deleteBtnClass{
    background-color: var(--background-color)
}

