/*main body*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 12%;
    transition: padding 0.5s ease;
}

/*all inputs border remove */
#form_div input {
    border:none;
}

/*all inputs border remove when focus*/
#form_div input:focus {
    outline:none;
}

/*all legends divs*/
#form_div > * {
    border-radius: 5px;
    border-color: #94C2FF;
    margin-bottom: 25px;
}

@media (max-width: 750px) {
    #form_div > :nth-child(9) {
        display: grid;
        grid-template-columns: repeat(4, 1fr 4fr);
    }
}

/*for computers */
@media (min-width: 750px) {
    body{
        padding: 20px calc(75px + 5%);
    }
    
    /*2 elements per row*/
    #form_div{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns for the first 8 elements */
        column-gap: 8%;
        
        padding-bottom: 25px;
    }
    
    /* last two: element per row*/
    #form_div >:nth-child(n+9) {
        grid-column: span 2;
        justify-self: center;
    }
}

/*for tabs */
@media (min-width: 750px) and (max-width: 1100px) {
    body{
        padding: 10px 10%
    }
}