@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
}

/* Blurred background image*/
#Background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%;
    filter: blur(25px);
    z-index: -1; /* Send to the back layer */
}

body{
    background-color: rgba(0, 0, 0, 1);
    font-family:'Roboto', sans-serif;
}

/* "Invalid City Name" error message */
#invalidCityName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust position to true center */
    color: rgba(255, 255, 255, 0.5);
    font-size: 3vw;
    /*visibility: hidden;*/
    text-shadow: 2px 2px 10px black ;
}





/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Search Button*/
#searchIcon{
    height: calc(1vw + 8px);
    margin-right: 2%;
    filter: invert(0.95) drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
    pointer-events: auto; /* Enable interaction */
    z-index: 3; /* Above input field */
}
/* Main layout container */
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

/* Weather-related image */
#mainImage {
    position: relative;
    z-index: -1;/* Behind other elements Above background image */
    width: 70%;
    height: 100%;
    object-fit: cover;/* Prevent distortion */
    overflow: hidden;
    border-radius: 5px;   
}

/* Container for the image section */
#imageDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 100%;
    transition: height 0.5s ease-in-out; /*animation for image size*/
}

/* Header with search and city/time details */
#header {
    position: absolute;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 70%; 
    z-index: 2;/* Above #mainImage */
    height:70px;
}



/* Search input field */
#searchInput{
    padding: 10px;
    width: 40%;
    height: calc(0.5vw + 1px);
    border: none;
    font-size: calc(1vw + 10px);
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);/* Transparent background */
    border-radius: 5px;   
}

/* Search bar container */
#searchBarDiv{
    display: flex;
    align-items: center;
    width: 60%;
    margin-left:3%;
}

/* Search Button hover*/
#searchIcon:hover{
    cursor: pointer; 
}


#searchInput::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

/* Focus styling for search input */
#searchInput:focus {
    border: none; /* Remove border */
    outline: none; /* Remove outline on focus */
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Location Icon in Header */
#cityNameTime img{
    height: calc(1vw + 8px);
    filter: invert(0.95) drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));/* Inverted color with shadow */
    
}

/*all text spans in cityNameTime section*/
#cityNameTime span{
    font-size: calc(1vw + 5px);
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px; 
    padding: 1%;
}

/* city and time info container id:*/
#cityNameTime{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top:10px;
    gap: 5px;
    width: 20%;
    margin-top: calc(10px + 2vw);
    margin-right: 2%;
    /* animation for  city and time info*/
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease; 
}




/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* weather icon inside the weather detail section */
#weatherIcon{
    height:  calc(4vw + 8px);
    padding-top: 7%;
    padding-bottom: 7%;
    width: auto;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
}

/* weather details container */
#detailsDiv {
    color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;/* Ensure padding does not affect size */
    position: relative;
    text-align: center;
    display: grid;
    width: 70%;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr; /* Create six columns */
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    /* animation for weather details container*/
    opacity: 0;
    visibility: hidden; 
    transition: opacity 1.5s ease;
}

/* individual weather detail items */
#detailsDiv > div{
    box-sizing: border-box;
    padding: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Main temperature section */
#tempDiv{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}



/* weather icon section */
#weatherIconDiv{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

/* odd child elements inside weather details section (1st and 3rd span elements)*/
#detailsDiv > div > div > :nth-child(odd) {
    font-size: calc(0.6vw + 3px);
    border-radius: 20px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: rgba(0, 0, 0, 0.2);
}

/* second child element inside weather detail section (main Temp and weather icon)*/
#detailsDiv > div > div > :nth-child(2) {
    font-size: calc(4vw + 4px);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'Exo', sans-serif;
    font-weight: 500;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* images inside the weather detail sections (e.g., icons) */
#detailsDiv > div:nth-child(n + 2) img{
    height:  calc(3vw + 3px);
    filter: saturate(0) invert(0.9) drop-shadow(2px 2px 1px rgba(0, 0, 0, 1)); 
}

/* weather details sections from the second child onward */
#detailsDiv > div:nth-child(n + 2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: calc(0.2vw + 1px) solid rgba(0, 0, 0, 0.2);/* Border between sections */
    padding: 10%;
    gap: calc(0.5vw + 5px);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

/* first span inside each weather detail section (e.g., label) */
#detailsDiv > div:nth-child(n + 2) span:nth-child(1){
    font-size: calc(0.5vw + 3px);
    border-radius: 20px;
    padding: 1%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: rgba(0, 0, 0, 0.2);
}

/* third span inside each weather detail section (e.g., value) */
#detailsDiv > div:nth-child(n + 2) span:nth-child(3){
    font-size: calc(1vw + 4px);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
}


