html, body {
    height: 100%; /* Full height for background scaling */
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
    
}
body{
    background-color: rgba(0, 0, 0, 1);
}


#Background {
    position: fixed; /* Covers the whole screen */
    top: 0;
    left: 0;
    height: 100%; /* Full-screen background */
    width: 100%;
    filter: blur(25px);
    z-index: -1; /* Ensures the image scales without distortion */
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    
}

#imageDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 100%;
}



#mainImage {
    position: relative;
    z-index: -1;
    width: 70%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;   
}


#header {
    position: absolute;
    display: flex; /* Switch to flexbox layout */
    justify-content: space-between; 
    align-items: center;
    width: 70%; /* Define header width */
    z-index: 2; /* Ensure it layers over #mainImage */
    height:70px;
}

#header div:nth-child(1){
    display: flex;
    align-items: center;
    width: 60%;
    margin-left:3%;
    
}

#header div:nth-child(1) img{
    height: calc(1vw + 8px);
    margin-right: 2%;
    filter: invert(0.8);
    
}

#header div:nth-child(1) input {
    padding: 10px;
    width: 40%;
    height: 10px;
    border: none;
    font-size: calc(1vw + 10px);
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;   
    
}

#header div:nth-child(1) input:focus{
    border: none;
    outline: none;

}

#header div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top:10px;
    gap: 5px;
    width: 20%;
    margin-top: calc(10px + 2vw);
    margin-right: 2%;
}

#header div:nth-child(2) img{
    height: calc(1vw + 8px);
    filter: invert(0.8);
}

#header div span{
    font-size: calc(1vw + 5px);
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px; 
    padding: 1%;
}


#detailsDiv {
    color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    position: relative;
    text-align: center;
    display: grid;
    width: 70%;
    height: (10vh + 15px);
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.3);
    
}

#detailsDiv > div{
    display: flex;
    flex-direction: row;
}

#detailsDiv > div > div{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: calc(0.5vw + 3px);;
    justify-content: center;
    align-items: center;
    padding: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

#detailsDiv > div > div > :nth-child(odd) {
    font-size: calc(0.5vw + 3px);
    border-radius: 20px;
    padding: 1%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: rgba(0, 0, 0, 0.2);
}

#detailsDiv > div > div > :nth-child(2) {
    font-size: calc(3vw + 15px);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

#detailsDiv > div > div > img {
    height:  calc(5vw + 10px);
    width: auto;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
}





#detailsDiv > div:nth-child(n + 2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 3px solid rgba(0, 0, 0, 0.2);
    padding: 10%;
    gap: calc(0.5vw + 5px);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}


#detailsDiv > div:nth-child(n + 2) span:nth-child(1){
    font-size: calc(2vw + 8px);

}

#detailsDiv > div:nth-child(n + 2) span:nth-child(2){
    font-size: calc(0.5vw + 3px);
    border-radius: 20px;
    padding: 1%;
    padding-left: 8%;
    padding-right: 8%;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}
